%ol.breadcrumb
  %li=link_to "Home", root_path
  %li.active=link_to "Usuários", users_path

.row
  .col-xs-9
    %h1 Usuários
  .col-xs-3
    =link_to "+ "+  ::User.model_name.human, new_user_path, :class => "btn btn-default pull-right header-button"

- if flash[:notice]
  .alert.alert-success
    %b Concluído! 
    Registro modificado colm
    %b sucesso!

.col-xs-7.comunicados
  %h3 Usuário
  %h2.details= @user.name

  %h3 Email
  %h2.details=@user.email

  %h3 Tipo de Usuário
  %h2.details=@user.role
  <br /><br /><br /><br />
